body{
    height: 100%;
    width: 100%;
    background-color: #EDECEC !important;
}

.content{
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 16px !important;
}

.jumbotron, input, .btn{
    border-radius: 0 !important;
}

.home-link{
    border: none;
    padding: 10px;
    margin: 10px;
}

button a:hover{
    cursor: pointer;
    text-decoration: none;
}

.category{
    border: 1px;
    padding: 10px;
}

.category > a:hover{
    cursor: pointer;
}

.category-dd{
    margin: 5px;
}

.rec-categs{
    border-radius: 0 !important;
}

.categ-name{
    padding: 10px; 
    border-bottom: dashed 1px;
}

.categ-list{
    list-style-type: none;    
}

.btn{
    margin: 0 10px;
}

.recipe{
    margin: 7px;
    padding: 10px;
    color: #000;
}

.recipe-span{
    font-style: italic;
    padding-bottom: 30px;
}

.recipe-btn{
    margin: 10px;
}
