body, html{
    height: 100%;
    width: 100%;
}

.home-link{
    border: none;
    padding: 10px;
    margin: 10px;
}

button a:hover{
    cursor: pointer;
    text-decoration: none;
}

.creator{
    margin-bottom: 20px;
}

.category{
    border: 1px;
    padding: 10px;
}

.category > a:hover{
    cursor: pointer;
}

.rec-categs{
    border-radius: 0 !important;
}

.rec-categs > h3{
    text-decoration: underline;
}

.categ-name{
    margin: 5px;
}

.categ-list{
    list-style-type: none;
}

.recipe{
    margin-bottom: 10px;
    border: 1px solid slateblue; 
    padding: 10px;
    color: #000;
    background-color: #9e9e9e; 
}

.recipe-span{
    font-style: italic;
    padding-bottom: 30px;
}

.recipe-btn{
    margin: 10px;
}