body{
    height: 100%;
    width: 100%;
    background-color: #9e9e9e !important;
}

.content{
    font-family: 'Arsenal' !important;
    font-size: 22px !important;
}

.jumbotron, input, .btn{
    border-radius: 0 !important;
}

.home-link{
    border: none;
    padding: 10px;
    margin: 10px;
}

button a:hover{
    cursor: pointer;
    text-decoration: none;
}

.creator{
    margin: 20px 10px;
}

.category{
    border: 1px;
    padding: 10px;
}

.category > a:hover{
    cursor: pointer;
}

.category-dd{
    margin: 5px;
}

.rec-categs{
    border-radius: 0 !important;
}

.categ-name{
    margin: 5px;
}

.categ-list{
    list-style-type: none;
}

.btn{
    margin: 0 10px;
}

.manipulators{
    margin-top: 5px;
    margin-bottom: 5px; 
}

.recipe{
    margin: 5px 0 10px 10px;
    padding: 10px;
    color: #000;
}

.recipe-span{
    font-style: italic;
    padding-bottom: 30px;
}

.recipe-btn{
    margin: 10px;
}