{% extends "index.html" %}
{% block title %}My Recipes{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="container-fluid row col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-4 creator jumbotron">
            {% from "form_render.html" import render_input %}
            <form method="POST" class="col-md-11" action="{{ url_for('recipes')}}">
                {{form.csrf_token}}
                <h2> New Recipe </h2>
                <select name="categ_id" class="col-md-12 category-dd" required>
                    <option disabled selected>Category</option>
                    {% for categ, categ_id in categs.items() %}
                        <option value='{{ categ_id["category_id"] }}'>
                            {{ categ_id["category_name"] }}
                        </option>
                    {% endfor %}
                </select>
                {{ render_input(form.recipe_name, class='form-control input-md', placeholder='Recipe Name') }}
                {{ render_input(form.ingredients, class='form-control input-md', placeholder='Ingredients') }}
                {{ render_input(form.instructions, class='form-control input-md', placeholder='Instructions') }}
                
                <button type="submit" class="btn btn-md btn-success">Create</button>
            </form>
        </div>
        <div class="col-md-7 rec-categs creator jumbotron">
            <div class="container col-md-12">
                <h2>My Recipes</h2>
                <br/>
                <br/>
                {% for categ, categ_id in categs.items() %}
                    <h3 style="color:blueviolet">Category: {{ categ_id["category_name"] }}</h3>
                    {% for recipe, rec_id in categ_id["recipes"].items() %}
                        <div class="recipe col-md-12"> 
                            <thead >
                                <p>Title: <span>{{ rec_id["recipe_name"] }}</span></p>
                            </thead>
                            <tbody>
                                <p>Ingredients: <span>{{ rec_id["ingredients"] }}</span> </p>
                                <p>Instructions: <span>{{ rec_id["instructions"] }}</span> </p>
                            </tbody>
                            <button class="edit manipulators btn btn-xs btn-primary" 
                                id="{{ loop.index }}">Edit</button>

                            <form method="POST" action="{{ url_for('edit_recipe')}}" style="display: none;" 
                                id="form-{{ loop.index }}">
                                {{form.csrf_token}}
                                <input type="hidden" class="form-control" 
                                    name="categ_id" value='{{ categ_id["category_id"] }}'>
                                <input type="hidden" class="form-control" 
                                    name="recipe_id" value='{{ rec_id["recipe_id"] }}'>
                                <h5>Edit Recipe Details: </h5>
                                <input type="text" class="form-control pull-left" name="new_title" 
                                    placeholder="Edit Title" value='{{ rec_id["recipe_name"] }}' required>
                                <input type="text" class="form-control pull-left" name="new_ingredients" 
                                    placeholder="Edit Ingredients" value='{{ rec_id["ingredients"] }}'required>
                                <input type="text" class="form-control pull-left" name="new_instructions" 
                                    placeholder="Edit Instructions" value='{{ rec_id["instructions"] }}' required>
                                <button type="submit" 
                                    class="manipulators btn btn-xs btn-success">Save</button>
                            </form>
                            <form method="POST" action="{{ url_for('del_recipe')}}">
                                {{form.csrf_token}}
                                <input type="hidden" class="form-control" 
                                    name="categ_id" value='{{ categ_id["category_id"] }}'>
                                <input type="hidden" class="form-control" 
                                    name="recipe_id" value='{{ rec_id["recipe_id"] }}'>
                                <button type="submit"
                                    class="manipulators btn btn-xs btn-danger">Delete</button>
                            </form>
                            
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% block scripts %}
        <script type="text/javascript">
            $(document).ready(function() {          
                $('.edit').each(function(){
                    var toggled_id = 'form-' + $(this).attr('id');
                    $(this).click(function(){
                        $('#'+toggled_id).toggle();
                    });
                });
            });
        </script>
    {% endblock %}
{% endblock %}