{% extends "index.html" %}
{% block title %}My Recipes{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="container jumbotron col-lg-7 col-md-7 col-sm-8">
        <div class="creator">
            {% from "form_render.html" import render_input %}
            <form method="POST" class="col-md-7" action="{{ url_for('recipes')}}">
                {{form.csrf_token}}
                <h2> New Recipe </h2>
                {{ render_input(form.category_name, class='form-control input-md', placeholder='Category Name') }}
                {{ render_input(form.recipe_name, class='form-control input-md', placeholder='Recipe Name') }}
                {{ render_input(form.ingredients, class='form-control input-md', placeholder='Ingredients') }}
                {{ render_input(form.instructions, class='form-control input-md', placeholder='Instructions') }}
                
                <button type="submit" class="btn btn-md btn-success">Create</button>
            </form>
        </div>
        <div class="col-md-7 rec-categs">
            <div class="container col-md-12">
                {% for recipe in recs %} 
                    <div class="recipe">
                        <h4> {{ recipe.recipe_name }} </h4>
                        <p> {{ recipe.ingredients }} </p>
                        <p> {{ recipe.instructions }} </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}