{% extends "index.html" %}
{% block title %}My Recipes{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="container jumbotron col-lg-7 col-md-7 col-sm-8">
        <div class="creator">
            {% from "form_render.html" import render_input %}
            <form method="POST" class="col-md-7" action="{{ url_for('recipes')}}">
                {{form.csrf_token}}
                <h2> New Recipe </h2>
                {{ render_input(form.category_name, class='form-control input-md', placeholder='Category Name') }}
                {{ render_input(form.recipe_name, class='form-control input-md', placeholder='Recipe Name') }}
                {{ render_input(form.ingredients, class='form-control input-md', placeholder='Ingredients') }}
                {{ render_input(form.instructions, class='form-control input-md', placeholder='Instructions') }}
                
                <button type="submit" class="btn btn-md btn-success">Create</button>
            </form>
        </div>
        <div class="col-md-7 rec-categs">
            <div class="container col-md-12">
                <h2>My Recipes</h2>
                <br/>
                <br/>
                {% for recipe in recs %}
                    {% if recipe.category_name is not none %} 
                        <thead class="recipe">
                            <th>Title: {{ recipe.recipe_name }} </th>
                        </thead>
                        <tbody>
                            <p>Ingredients: {{ recipe.ingredients }} </p>
                            <p>Instructions: {{ recipe.instructions }} </p>
                        </tbody>
                        <button class="btn btn-md btn-success">Edit</button>
                        <button class="btn btn-md btn-danger">Delete</button>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}