{% extends "index.html" %}
{% block title %}My Recipes{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="jumbotron container-fluid text-centre">
        <div class="creator">
            {% from "form_render.html" import render_input %}
            <form method="POST" class="col-md-5" action="{{ url_for('categories')}}">
                {{categ_form.csrf_token}}
                {{ render_input(categ_form.category_name, class='form-control input-md', placeholder='Category Name', required) }}
                <button type="submit" class="btn btn-md btn-success">Create</button>
            </form>
        </div>
        
        <div class="col-md-9">
            <div class="container col-md-12">
                <h3>My Categories</h3>
                <ul class="categ-list pull-left">
                    {% for category in categs %}
                        <li class="categ-name">
                            <span>{{ loop.index }}.</span>
                            <span id="cat-name">
                                {{ category.category_name }}
                            </span>
                        </li>        
                    {% endfor %}
                </ul>   
            </div>
        </div>
        
</div>
{% endblock %}