{% extends "index.html" %}
{% block title %}My Recipes{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="container jumotron text-centre">
        {% from "form_render.html" import render_input %}
        <form method="POST" class="col-md-7" action="{{ url_for('categories')}}">
            {{form.csrf_token}}
            {{ render_input(form.category_name, class='form-control input-md', placeholder='Category Name') }}
            <button type="submit" class="btn btn-md btn-success">Create</button>
        </form>
    </div>
    
    <div class="col-md-12 rec-category">
        {% for category in categs %}
            <span>{{ category }}</span>
        {% endfor %}
    </div>
{% endblock %}