{% extends "index.html" %}
{% block title %}Sign Up{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container jumbotron text-centre">
    {% from "form_render.html" import render_input %}
    <form method="POST"class="col-md-7" action="{{ url_for('signup')}}">
        {{form.csrf_token}}
        {{ render_input(form.email, class='form-control input-md', placeholder='Email') }}
        {{ render_input(form.password, class='form-control input-md', placeholder='Password') }}
        {{ render_input(form.password_confirm, class='form-control input-md', placeholder='Confirm Password') }}
        <button type="submit" class="btn btn-md btn-success">Sign Up</button>
        <span class="pull-right">Have an account ? <a href="/login">Log In</a></span>
    </form>
    
    
</div>
{% endblock %}
